bundled/WebServices/testData/highlighting/jaxws/WsWithWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://localhost/&amp;&amp;/WsWithWsdl" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://localhost/&amp;&amp;/WsWithWsdl" xmlns:intf="http://localhost/&amp;&amp;/WsWithWsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://localhost/&amp;&amp;/WsWithWsdl" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="InputClass">
    <sequence>
     <element name="result" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="cls" type="impl:InputClass"/>
   <complexType name="OutputClass">
    <sequence>
     <element name="result" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="doService2Return" type="impl:OutputClass"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="doService2Response">

      <wsdl:part element="impl:doService2Return" name="doService2Return"/>

   </wsdl:message>

   <wsdl:message name="doServiceResponse">

   </wsdl:message>

   <wsdl:message name="doServiceRequest">

   </wsdl:message>

   <wsdl:message name="doService2Request">

      <wsdl:part element="impl:cls" name="cls"/>

   </wsdl:message>

   <wsdl:portType name="WsWithWsdl">

      <wsdl:operation name="doService">

         <wsdl:input message="impl:doServiceRequest" name="doServiceRequest"/>

         <wsdl:output message="impl:doServiceResponse" name="doServiceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="doService2" parameterOrder="cls">

         <wsdl:input message="impl:doService2Request" name="doService2Request"/>

         <wsdl:output message="impl:doService2Response" name="doService2Response"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WsWithWsdlSoapBinding" type="impl:WsWithWsdl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="doService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doService2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doService2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doService2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WsWithWsdlService">

      <wsdl:port binding="impl:WsWithWsdlSoapBinding" name="WsWithWsdl">

         <wsdlsoap:address location="http://localhost:8080/&amp;&amp;/aaa/WsWithWsdl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
